## Using SQL

In [7]:
import sqlite3
# Connecting to DB
connection= sqlite3.connect("example.db") # It auto created a DB file in our folder
connection
# Creating cursor to iterate all the tables/Rows
cursor = connection.cursor()

In [10]:
#Creating a table 
cursor.execute('''
Create Table if Not Exists employees(
    id Integer Primary key,
    name Text Not Null,
    age Integer,
    department text
    )              
''')

#commit the shanges (Means saving the change in the DB file)
connection.commit()

In [15]:
cursor.execute('''
Select * from employees
                
''')# Returining an object --- sqlite3.Cursor at 0x2bf4a937140>

In [14]:
# Inseting data in the table
cursor.execute('''
Insert Into employees(name,age,department)
values('rana',32 , 'Data')            
''')
cursor.execute('''
Insert Into employees(name,age,department)
values('gass',44 , 'Dasds')            
''')
cursor.execute('''
Insert Into employees(name,age,department)
values('nara',37 , 'gaksfsf')            
''')
cursor.execute('''
Insert Into employees(name,age,department)
values('rasss',23 , 'analyst')            
''')

connection.commit()

In [ ]:
# Fetching Data from table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'rana', 32, 'Data')
(2, 'gass', 44, 'Dasds')
(3, 'nara', 37, 'gaksfsf')
(4, 'rasss', 23, 'analyst')

In [20]:
# Updating Data 
cursor.execute('''
update employees
set age = 21           
where name = 'rana'
''')

connection.commit()

In [ ]:
# Fetching Data from table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'rana', 21, 'Data')
(2, 'gass', 44, 'Dasds')
(3, 'nara', 37, 'gaksfsf')
(4, 'rasss', 23, 'analyst')

In [ ]:
#Deletion
cursor.execute( """ 
Delete from employees
where name = 'rana'
"""
)
connection.commit()

# Fetching Data from table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'gass', 44, 'Dasds')
(3, 'nara', 37, 'gaksfsf')
(4, 'rasss', 23, 'analyst')

In [30]:
# Project using 

connection = sqlite3.connect('pizza_sales.db')
connection
cursor = connection.cursor()

In [ ]:
# Bulk Insertion
# Only demographic
sales_data = [
    (das,dsfsf,fsf,sfs)
    (sdfsf.sf.sf.sf.sf)
    (,dfsf,sfs,sfss)
]

cursor.executemany("""
INsert into sales(date,product,age,price)
                   values(?,?,?,?)
               
""" , sales_data)

connection.commit()

DatabaseError: file is not a database

In [ ]:
#closing connection Permanently 

connection.close()

In [ ]:
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)''')

# Insert data
cursor.execute("INSERT INTO users (name, age) VALUES ('John', 28)")

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data inserted in MySQL!")

In [ ]:
# Flask with DB
import sqlite3
from flask import Flask, render_template, request

app = Flask(__name__)

# Function to connect to the database
def get_db_connection():
    conn = sqlite3.connect('example.db')
    conn.row_factory = sqlite3.Row  # Allows column access by name
    return conn

@app.route('/')
def index():
    conn = get_db_connection()
    users = conn.execute('SELECT * FROM users').fetchall()
    conn.close()
    return render_template('index.html', users=users)

if __name__ == "__main__":
    app.run(debug=True)